<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="tests" thread-count="1">
  <test name="Test1">
	<parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.Practice.Selenium072024.DemoGuru2807"></class>
    </classes>
  </test><test name="Test2" enabled="false">
	<parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.Practice.Selenium072024.DemoGuru290724"></class>
    </classes>
  </test><!-- Test -->
</suite> <!-- Suite -->
